/* Css Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* akhir css reset */


/*  */
body{
    font-family: sans-serif;
  }
  h1{
	  margin-bottom: 50px;
	  font-size: 24px;
	  font-weight: bold;
	  border-bottom: 1px solid #f2f2;
	  padding-bottom: 20px;
  }

  /* Navbar */
  .navbar{
    background-color: #f0e4d7;
    padding: 0;
    margin: 0;
    /* margin: 12px auto; */
    min-width: 600px;
    text-align: center;
    border-radius: 12px;
  
  }
  .logo-nav{
    margin-right: 100px;
    font-size: 32px;
  }
  nav ul li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    
  }
  li a{
    color: #393e46;
    list-style-type:none;
    text-decoration: none;
    padding: 5px 8px;
    
  }
  li a:hover{
    color:#fff;
    background-color: #ff7171;
    border:1px solid #fff;
    border-radius: 6px;
  }
  /* Akhir Navbar */

/* Login page */

.login{
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    max-width: 600px;
  }
  #login-form{
    background-color: #f0e4d7;
    max-width: 600px;
    height: 50vh;
    padding: 2em;
    border-radius: 12px;
  }
  #login-form h2{
    color: #000;
    font-size: 48px;
    text-align: center;
    margin-bottom: 1.5em;
  }
  #login-form label{
    display: block;
    margin-bottom: .5em;
    font-size: 24px;
  }
 #login-form input{
   display: block;
   width:100%;
   height: 4vh;
   margin-bottom:1.5em ;
   background-color: #f8f5f1;
   border-radius: 6px;
 }
 #login-form .button-container {
   text-align: center;
    margin-top: 5em;
    display: block;
 }
 .button-container .btnlogin{
  border-radius: 12px;
  padding: 12px;
  width: 15em;
  height: 6vh;
  background-color:#fa7f7f ;
  border: none;
  color: #000;
  font-size: 20px;
 }

/* Akhir Login page*/



/* Home Page */

.home{
	padding-top: 100px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
  }
  table {
    border-spacing: 5px;
    width: 100%;
  }
  thead{
    background-color: #ff7171;
    color:white
  }
  th,td {
    padding: 1em;
  }
  .btnUpdate{
    background: #0595b9;
    border: 0;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin:1em;
    color:#f0e4d7;
   }
   .btnDelete{
    background: #c74747;
    color: #f0e4d7;
    border: 0;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin:1em;
   }
   
/* Akhir Home Page */